# Build / cache
/node_modules/
/.next/
/out/
/build/
/dist/
/.turbo/
/.cache/
/coverage/
/.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Local
/local.db
*.db

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Storybook (skipping)
storybook-static
